<html>
{%load staticfiles%}
<!DOCTYPE html>

<title>Senior Housing Mapper</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="{%static 'css/main.css' %}">
<link rel="shortcut icon" href="{%static 'img/bpfav.ico'%}" type="image/x-icon"/>

<body bgcolor="#375472">

 <nav role="navigation" >
                    <br>

    <span class = "compButton" id="compButton">
        <a style="color:white;" href="{% url 'findComps:find' %}">
            Download Local Skilled Nursing Data</a>
    </span>


        <h2  class="header1"> SENIOR HOUSING MAPPER</h2> <br>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1032870506060384",
    enable_page_level_ads: true
  });
</script>


    </nav>

<div id="propBox" >
<form class="w3-container" action = "/plot/" method="POST" id="plotForm">
	{% csrf_token %}

  	<br>
  	<input 	type="radio" name="sortOption" value="order" checked> <span class="radioBut"> Sort By Order </span> <br>
  	<br>

	<label class="w3-label"> S) Subject Property  </label>
	<input id ="propInput" type="text" name="subject" required><br><br>

	<label class="w3-label">1)  Property Address  </label>
	<input id = "propInput" type="text" name="addr1"><br><br><br>

	<label class="w3-label">2)  Property Address  </label>
	<input id = "propInput" type="text" name="addr2"><br><br><br>

	<label class="w3-label">3)  Property Address  </label>
	<input id = "propInput" type="text" name="addr3"><br><br><br>

	<label class="w3-label">4)  Property Address  </label>
	<input id = "propInput" type="text" name="addr4"><br><br><br>

	<label class="w3-label">5)  Property Address  </label>
	<input id = "propInput" type="text" name="addr5"><br><br><br>

	<label class="w3-label">6)  Property Address  </label>
	<input id = "propInput" type="text" name="addr6"><br><br><br>

	<label class="w3-label">7)  Property Address  </label>
	<input id = "propInput" type="text" name="addr7"><br><br><br>

	<label class="w3-label">8)  Property Address  </label>
	<input id = "propInput" type="text" name="addr8"><br><br><br>

	<label class="w3-label">9)  Property Address  </label>
	<input id = "propInput" type="text" name="addr9"><br><br><br>

	<label class="w3-label">10) Property Address  </label>
	<input id = "propInput" type="text" name="addr10"><br><br><br>

	<label class="w3-label">11) Property Address  </label>
	<input id = "propInput" type="text" name="addr11"><br><br><br>

	<label class="w3-label">12) Property Address  </label>
	<input id = "propInput" type="text" name="addr12"><br><br><br>

	<label class="w3-label">13) Property Address  </label>
	<input id = "propInput" type="text" name="addr13"><br><br><br>

	<label class="w3-label">14) Property Address  </label>
	<input id = "propInput" type="text" name="addr14"><br><br><br>

	<label class="w3-label">15) Property Address  </label>
	<input id = "propInput" type="text" name="addr15"><br><br><br>

	<label class="w3-label">16) Property Address  </label>
	<input id = "propInput" type="text" name="addr16"><br><br><br>

	<label class="w3-label">17) Property Address  </label>
	<input id = "propInput" type="text" name="addr17"><br><br><br>

	<label class="w3-label">18) Property Address  </label>
	<input id = "propInput" type="text" name="addr18"><br><br><br>

	<label class="w3-label">19) Property Address  </label>
	<input id = "propInput" type="text" name="addr19"><br><br><br>

	<label class="w3-label">20) Property Address  </label>
	<input id = "propInput" type="text" name="addr20"><br><br><br>

	<label class="w3-label">21) Property Address  </label>
	<input id = "propInput" type="text" name="addr21"><br><br><br>

	<label class="w3-label">22) Property Address  </label>
	<input id = "propInput" type="text" name="addr22"><br><br><br>

	<label class="w3-label">23) Property Address  </label>
	<input id = "propInput" type="text" name="addr23"><br><br><br>

	<label class="w3-label">24) Property Address  </label>
	<input id = "propInput" type="text" name="addr24"><br><br><br>

	<label class="w3-label">25) Property Address  </label>
	<input id = "propInput" type="text" name="addr25"><br><br><br>

	<label class="w3-label">26) Property Address  </label>
	<input id = "propInput" type="text" name="addr26"><br><br><br>

	<label class="w3-label">27) Property Address  </label>
	<input id = "propInput" type="text" name="addr27"><br><br><br>

	<label class="w3-label">28) Property Address  </label>
	<input id = "propInput" type="text" name="addr28"><br><br><br>

	<label class="w3-label">29) Property Address  </label>
	<input id = "propInput" type="text" name="addr29"><br><br><br>



	<input type="submit" class="button-scrolly" value="Plot Facilities" id="send">


</form>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98843259-1', 'auto');
  ga('send', 'pageview');

</script>



</body>
</html>