<html>
{%load staticfiles%}
<!DOCTYPE html>

<title>Blueprint Mapper</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="{%static 'css/main.css' %}">
<body background= "{%static 'img/BPlogo.png'%}" >


<div id="propBox">

<form class="w3-container" action = "/home/plot/" method="POST" id="plotForm">
	{% csrf_token %}
  	
  	<br>

	<label class="w3-label">Subject Property  </label>
	<input type="text" class ="w3-input"  name="subject"><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr1"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr2"><br><br><br>
	
	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr3"><br><br><br>
	
	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr4"><br><br><br>
	
	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr5"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr6"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr7"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr8"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr9"><br><br><br>

	<input type="submit" class="button scrolly" value="Plot Facilities" id="send">


</form>

</div>
</body>
</html>