<html>
{%load staticfiles%}
<!DOCTYPE html>

<title>Blueprint Mapper</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="{%static 'css/main.css' %}">
<link rel="icon" href="{%static 'img/bpfav.ico'%}" type="image/x-icon"/>
<link rel="shortcut icon" href="{%static 'img/bpfav.ico'%}" type="image/x-icon"/>

<body background= "{%static 'img/BPLogo.png'%}" >


<div id="propBox" >

<form class="w3-container" action = "/home/plot/" method="POST" id="plotForm">
	{% csrf_token %}

  	<br>

  	<input type="radio" name="sortOption" value="distance" checked> Sort By Distance <br>
  	<input type="radio" name="sortOption" value="order" checked> Sort By Order <br>
  	<br>

	<label class="w3-label">Subject Property  </label>
	<input type="text" class ="w3-input"  name="subject"><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr1"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr2"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr3"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr4"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr5"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr6"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr7"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr8"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr9"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr10"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr11"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr12"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr13"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr14"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr15"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr16"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr17"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr18"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr19"><br><br><br>

	<label class="w3-label">Property Address  </label>
	<input id = "propInput" type="text" name="addr20"><br><br><br>


	<input type="submit" class="button scrolly" value="Plot Facilities" id="send">


</form>

</div>
</body>
</html>