.body{
	background-color: #375472;
}

.header1 {
    color: #ffffff;
    background-color: #375472;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 48px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

