
.body{
	background-color: #375472;
}

#propInput{

	border: 1px solid black;
    width: 400px;

}

#propBox{

	background-color: #375472;
    margin: auto;
    width: 550px;


}

#compButton{

    background-color: rgb(120, 146, 194); border-radius: 28px; border: 1px solid rgb(78, 96, 150); display: inline-block; cursor: pointer; color: rgb(255, 255, 255); font-family: Arial; font-size: 17px; font-weight: bold; padding: 24px 51px; text-decoration: none; text-shadow: rgb(40, 57, 102) 0px 1px 0px;
}

.w3-label{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	color: white;
}

.radioBut {

    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	color: white;
}

.header1 {
    color: #ffffff;
    background-color: #375472;
    text-shadow: #e0e0e0 1px 1px 0;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 48px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    padding-right: 50px;
    text-align: right;

}

.button-scrolly{

	color: black;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

